<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PolyExpress</display-name>
  <servlet>
    <servlet-name>Menu</servlet-name>
    <servlet-class>servlets.menuConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>servlets.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/clientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>servlets.Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/authentificationServlet</url-pattern>
  </servlet-mapping>
</web-app>